//colors
$jadeit: #9c6
$tyrkys: rgb(0, 255, 255)

$color-text: black
$color-background: white
$color-selection: #b4d5fe
$primary-color: lighten(black, 2%)
$color-text-light: lighten(black, 45%)

//typography, fontsize
$font-size-mini: 0.844rem
$font-size-small: 1.125rem
$font-size-base: 1.5rem
$font-size-large-1: 1.999rem
$font-size-large-2: 2.665rem
$font-size-large-3: 3.553rem
$font-size-large-4: 4.736rem
$font-size-large-5: 6.313rem



//vertical-rhytm
$base-line-height: 1.4
$vertical-rhytm: $base-line-height * $font-size-base
